@model IEnumerable<_3_MVCApplication.Models.Actor>

@{
    ViewBag.Title = "Index";
}
<div id="notifications"></div>

<h2>Index</h2>
<h3>@ViewData["message"]</h3> <!--antistoixa edw to message emfanizetai apo ton controller tou actor sto action index-->

<p>
    @Html.ActionLink("Create New", "Create") <!--Edw to view ftiaxnei link pou deixnei sto deikth Create new to controller create-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-outline-warning" }) <!--Oi prwtes agkyles einai to routepath sth url, oi deuteres einai html attributes-->
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-outline-danger" })<!--omoiws-->
        </td>
    </tr>
}

</table>

@section scripts{
      <script>
          if ('@TempData["notification-message"]') {
              $(`<div class="alert alert-@TempData["notification-color"] alert-dismissible fade show mt-2" role="alert">
                    <strong>@TempData["notification-message"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
                 </div>`).appendTo('#notifications');
                }
      </script>             
}
